version: '3.8'

services:
  bot:
    build: .
    command: python main.py
    env_file:
      - ./app/.env
    depends_on:
      - db
    restart: always
    working_dir: /app

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: aiogram
      POSTGRES_USER: aiogram
      POSTGRES_PASSWORD: aiogrampass

    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aiogram"]
      interval: 10s
      timeout: 5s
      retries: 5
