version: '3.8'

services:
  bot:
    build: .
    command: python main.py
    env_file:
      - ./app/.env
    volumes:
      - ./credentials.json:/app/credentials.json:ro
    depends_on:
      db:
        condition: service_healthy
    restart: always
    working_dir: /app

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: aiogram
      POSTGRES_USER: aiogram
      POSTGRES_PASSWORD: aiogrampass
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aiogram"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - bot_db_data:/var/lib/postgresql/data

volumes:
  bot_db_data:
    name: tg_bot_database
